
<section class="page-section cta">
  <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class=" text-center rounded">


    <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Categories List</h3>
        
            </div>
            <!-- /.box-header -->
            <div class="box-body">

        {{#each category}}
        <br>
        <li type="none">{{this.name}}</li>
        {{/each}}
        

            </div>
            <!-- /.box-body -->
          </div>

            </div>
          </div>
        </div>
<br><br>
        <div class="box-header with-border" align="center">
<span class="btn btn-sm btn-primary pull-right" id="addUserbtn" style="margin-right:5px" onclick="location.href='createcategory';" ">Create Category</span>
</div>

  </div>

</section>