<section class="page-section cta">
  <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="text-center rounded">
              
                <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Customer List</h3>
            </div>
            
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <tr>   
                  <th>Customer Name</th>
                  <th>Options</th>
                </tr>
        {{#each data}}
                <tr>
                   
                  <td>{{this.first_name}} {{this.last_name}}</td>
                  <td><span class="btn btn-sm btn-primary pull-left" id="addUserbtn" style="margin-right:5px" onclick="location.href='customer/{{this.customer_id}}';" >View Details</span></td>
                  
                </tr>
        {{/each}}
                
                
              
              </table>
            </div>
      
            <!-- /.box-body -->
          </div>
                 
            </div>
          </div>
        </div>
  </div>
</section>