<section class="page-section cta">
  <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              
                

                 <p>ORDER SUCCESS</p>
                 <p>PLEASE CHECK YOUR EMAIL!!!</p>



                   
            </div>
          </div>
        </div>
  </div>
</section>
