
<section class="page-section cta">
  <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class=" text-center rounded">

<section class="content-header">
      <h1>
        Categories
      </h1>
    </section>


		<div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Categories List</h3>
			  
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <ul>
			  {{#each data}}
			  <li type="none">{{this.name}}</li>
			  {{/each}}
			  
			  </ul>
            </div>
            <!-- /.box-body -->
          </div>

            </div>
          </div>
        </div>
  </div>

</section>

  