<section class="page-section cta">
  <div class="container center">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="text-center rounded">
              
                <div class="box">
        <div class="box-header with-border">
          <h2 class="box-title">Error</h2>
      
        </div>
        <div class="box-body" align="center">


        <div class="box-body">
    
      <h1 align="center"> MESSAGE NOT SENT! </h1>
      <img class="img-responsive center-block" src=/error.jpg alt="Error">
      <h4 align="center">Please try again later</h4>
        </div>

  </div>
  </div>
</section>

