<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Categories
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      
		
		<div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Categories List</h3>
			  <span class="btn btn-sm btn-primary pull-right" id="addUserbtn" style="margin-right:5px" onclick="location.href='/category/create';" ">Create Category</span>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <ul>
			  {{#each data}}
			  <li>{{this.name}}</li>
			  {{/each}}
			  
			  </ul>
            </div>
            <!-- /.box-body -->
          </div>
        
		<!-- /.box-body -->
         
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>
