<div class="content-wrapper" background="./Profile Page of Benz_files/grid.gif">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Error Page
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">
       
        <div class="box-body">
		
			<h1 align="center"> MESSAGE NOT SENT! </h1>
			<img class="img-responsive center-block" src=/error.jpg alt="User profile picture">
			<h4 align="center">Please try again later</h4>
        </div>
        
		<!-- /.box-body -->
         </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
  </div>